.hero{
  width:100%;
  padding:200px;
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;
  
}
.image{
  width:300px;
  height:300px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}
.image img{
  margin-top: 160px;
  width:300px;
}
.content{
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .icons{
  width:80%;
  display:flex;
  justify-content: space-evenly
}
.icon{
  font-size: 25px;
}
.content h2 {
  font-size: 30px;
  color: white;
  font-weight: 600;
  line-height: 1.5;
}

.content h1 {
  font-size: 40px;
  color: white;
  font-weight: 700;
  line-height: 1.4;
}

.content .text {
  font-weight: bold;
  color: #0ef
}

.content p {
  margin-top: 20px;
  font-size: 18px;
  color: white;
  line-height: 1.2;
}

.content .icons {
  width: 300px;
  padding: 20px;
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.content .icons p {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  overflow: hidden;
  box-shadow: 0px 0px 10px aqua;
}

.content .icons p:hover {
  box-shadow: 0px 0px 20px #0ef;
}

a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 30px;
}

.image {
  display: flex;
  margin-right: 100px;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 0px 40px aqua;
  transition: 1s;
}

img {
  transition: 1s;
}

.image:hover {
  box-shadow: 0px 0px 100px #0ef;
  border: 2px solid aqua
}

.image:hover img {
  transform: scale(1.2);
  margin-top: 200px;
}

.image img {
  width: 300px;
  margin-top: 140px;
}

@media screen and (max-width:767px) {
  .hero {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 100px;
    align-items: center;
  }
  .image{
    margin:auto;
  }
  .content{
    width:90%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .content h2{
    font-size: 20px;
    text-align: center;
  }
  .content h1{
    font-size: 25px;
    text-align: center;
  }
  .content h2{
    font-size: 20px;
  }
  .content p{
    font-size: 18px;
    width:90%;
    margin: auto;
  }
  .content .icons{
    display: flex;
    width:80%;
    align-items: center;
    justify-content: space-between
  }
  .icons p{
    font-size: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
   .icon{
    font-size: 18px;
  }
}