.hero{
  width:100%;
  padding:0px 10%;
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;
  z-index: -10000;
  overflow-x: hidden;
}
.image{
  width:300px;
  height:300px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -10000;
}
.image img{
  margin-top: 160px;
  width:300px;z-index: -10000;
}
.content{
  margin-top: 50px;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;z-index: -10000;
  overflow-x: hidden;
}
.content .icons{
  width:80%;
  display:flex;
  justify-content: space-evenly;z-index: -10000;
}
.icon{
  font-size: 25px;;z-index: -10000;
}
.content h2 {
  font-size: 26px;
  color: white;
  font-weight: 600;
  line-height: 1.2;z-index: -10000;
  margin-bottom: 5px;

}

.content h1 {
  font-size: 35px;
  color: white;
  margin-top: 4px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 1.2;z-index: -10000;
}
.content .text {
  font-weight: bold;
  color: #0ef;z-index: -10000;
}

.content p{
  margin-top: 10px;
  font-size: 18px;
  color: white;
  line-height: 1.2;z-index: -10000;
}

.content .icons {
  width: 300px;
  padding: 20px;
  display: flex;
  margin-top: 30px;
  justify-content: space-between;z-index: -10000;
}

.content .icons p {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  overflow: hidden;
  box-shadow: 0px 0px 10px aqua;z-index: -10000;
}

.content .icons p:hover {
  box-shadow: 0px 0px 10px #0ef;
  z-index: -10000;
}

a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;z-index: -10000;
}

.hero .icon {
  font-size: 30px;z-index: -10000;
}
.hero .icon:hover{
  box-shadow: 0px 0px 10px aqua;
}

.image {
  display: flex;
  margin-right: 100px;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 0px 40px aqua;
  transition: 1s;z-index: -10000;
}

img {
  transition: 1s;z-index: -10000;
}

.image:hover {
  box-shadow: 0px 0px 100px #0ef;
  border: 2px solid aqua;z-index: -10000;
}

.image:hover img {
  transform: scale(1.2);
  margin-top: 200px;z-index: -10000;
}

.image img {
  width: 300px;
  margin-top: 140px;z-index: -10000;
}

@media screen and (max-width:767px) {
  .hero {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 100px;
    align-items: center;
  }
  .image{
    margin:auto;
  }
  .content{
    width:90%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .content h2{
    font-size: 20px;
    text-align: center;
  }
  .content h1{
    font-size: 25px;
    text-align: center;
  }
  .content h2{
    font-size: 20px;
  }
  .content p{
    font-size: 18px;
    width:90%;
    margin: auto;
  }
  .content .icons{
    display: flex;
    width:80%;
    align-items: center;
    justify-content: space-between
  }
  .icons p{
    font-size: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
   .icon{
    font-size: 18px;
  }
}

@media screen and (max-width:991px) and (min-width:768px) {
  .hero{
    padding:0px 2%;
    display: flex;
    justify-content: space-evenly;
  }
  .image{
    flex-basis: 40%;
  }
  .content{
    flex-basis: 50%;
  }
}